* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.nav-links li:hover {
    transform: scale(1.1);
}

.nav-links a {
    text-decoration: none;
    color: #443329;
    font-weight: 600;
    font-size: 14;
    margin: 0 10px;
}

.nav-links a:hover {
    color: #A4BF69;
}

h2 {
    font-weight: 700;
    color: #443329;
}

p {
    font-size: 12;
    color: #989EB1;
}

label {
    font-weight: 500;
    font-size: 12;
    color: #D9BDAD;
}

.main-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.secciones-img {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.login-container, .register-form {
    margin: 0;
    padding: 0;
    font-optical-sizing: auto;
    font-weight: 400;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
 /*Terminar de acomodar*/
@media (min-width: 700px)
{
    .seccciones-paginas
    {
        height: 20px;
    }
}